<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Survey Dataset Exploration Lab**

Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

-   Load the dataset that will used thru the capstone project.
-   Explore the dataset.
-   Get familier with the data types.

## Load the dataset

Import the required libraries.

In [1]:
import pandas as pd

The dataset is available on the IBM Cloud at the below url.

In [3]:
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

Load the data available at dataset_url into a dataframe.

In [4]:
df_survey = pd.read_csv(dataset_url)

## Explore the data set

It is a good idea to print the top 5 rows of the dataset to get a feel of how the dataset will look.

Display the top 5 rows and columns from your dataset.

In [5]:
df_survey.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy

## Find out the number of rows and columns

Start by exploring the numbers of rows and columns of data in the dataset.

Print the number of rows in the dataset.

In [6]:
print('The number of rows in the dataframe is ' + str(df_survey.shape[0]) +'.')

The number of rows in the dataframe is 11552.

Print the number of columns in the dataset.

In [7]:
print('The number of columns in the dataframe is ' + str(df_survey.shape[1]) +'.')

The number of columns in the dataframe is 85.

## Identify the data types of each column

Explore the dataset and identify the data types of each column.

Print the datatype of all columns.

In [9]:
df_survey.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11552 entries, 0 to 11551
Data columns (total 85 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Respondent              11552 non-null  int64
 1   MainBranch              11552 non-null  object
 2   Hobbyist                11552 non-null  object
 3   OpenSourcer             11552 non-null  object
 4   OpenSource              11471 non-null  object
 5   Employment              11552 non-null  object
 6   Country                 11552 non-null  object
 7   Student                 11499 non-null  object
 8   EdLevel                 11436 non-null  object
 9   UndergradMajor          10812 non-null  object
 10  EduOther                11388 non-null  object
 11  OrgSize                 11454 non-null  object
 12  DevType                 11485 non-null  object
 13  YearsCode               11543 non-null  object
 14  Age1stCode              11539 non-null  object
 15  YearsCodePro            11536 non-null  object
 16  CareerSat               11552 non-null  object
 17  JobSat                  11551 non-null  object
 18  MgrIdiot                11054 non-null  object
 19  MgrMoney                11050 non-null  object
 20  MgrWant                 11054 non-null  object
 21  JobSeek                 11552 non-null  object
 22  LastHireDate            11552 non-null  object
 23  LastInt                 11129 non-null  object
 24  FizzBuzz                11515 non-null  object
 25  JobFactors              11549 non-null  object
 26  ResumeUpdate            11511 non-null  object
 27  CurrencySymbol          11552 non-null  object
 28  CurrencyDesc            11552 non-null  object
 29  CompTotal               10737 non-null  float64
 30  CompFreq                11346 non-null  object
 31  ConvertedComp           10730 non-null  float64
 32  WorkWeekHrs             11427 non-null  float64
 33  WorkPlan                11429 non-null  object
 34  WorkChallenge           11384 non-null  object
 35  WorkRemote              11544 non-null  object
 36  WorkLoc                 11520 non-null  object
 37  ImpSyn                  11547 non-null  object
 38  CodeRev                 11551 non-null  object
 39  CodeRevHrs              9083 non-null   float64
 40  UnitTests               11523 non-null  object
 41  PurchaseHow             11354 non-null  object
 42  PurchaseWhat            11514 non-null  object
 43  LanguageWorkedWith      11541 non-null  object
 44  LanguageDesireNextYear  11415 non-null  object
 45  DatabaseWorkedWith      11096 non-null  object
 46  DatabaseDesireNextYear  10497 non-null  object
 47  PlatformWorkedWith      11130 non-null  object
 48  PlatformDesireNextYear  10991 non-null  object
 49  WebFrameWorkedWith      10139 non-null  object
 50  WebFrameDesireNextYear  9918 non-null   object
 51  MiscTechWorkedWith      9343 non-null   object
 52  MiscTechDesireNextYear  10078 non-null  object
 53  DevEnviron              11523 non-null  object
 54  OpSys                   11518 non-null  object
 55  Containers              11470 non-null  object
 56  BlockchainOrg           9198 non-null   object
 57  BlockchainIs            8915 non-null   object
 58  BetterLife              11452 non-null  object
 59  ITperson                11517 non-null  object
 60  OffOn                   11514 non-null  object
 61  SocialMedia             11251 non-null  object
 62  Extraversion            11532 non-null  object
 63  ScreenName              11039 non-null  object
 64  SOVisit1st              11227 non-null  object
 65  SOVisitFreq             11547 non-null  object
 66  SOVisitTo               11551 non-null  object
 67  SOFindAnswer            11549 non-null  object
 68  SOTimeSaved             11501 non-null  object
 69  SOHowMuchTime           9616 non-null   object
 70  SOAccount               11551 non-null  object
 71  SOPartFreq              10404 non-null  object
 72  SOJobs                  11546 non-null  object
 73  EntTeams                11547 non-null  object
 74  SOComm                  11552 non-null  object
 75  WelcomeChange           11463 non-null  object
 76  SONewContent            9557 non-null   object
 77  Age                     11255 non-null  float64
 78  Gender                  11477 non-null  object
 79  Trans                   11429 non-null  object
 80  Sexuality               11005 non-null  object
 81  Ethnicity               10869 non-null  object
 82  Dependents              11408 non-null  object
 83  SurveyLength            11533 non-null  object
 84  SurveyEase              11538 non-null  object
dtypes: float64(5), int64(1), object(79)
memory usage: 7.5+ MB

Print the mean age of the survey participants.

In [12]:
print('The mean age of the survey participants is ', df_survey['Age'].mean())

The mean age of the survey participants is  30.77239449133718

The dataset is the result of a world wide survey. Print how many unique countries are there in the Country column.

In [13]:
print('There are', df_survey['Country'].nunique(), 'unique countries in the survey:')

print('\nCountry                               Respondants')      

with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df_survey['Country'].value_counts())

There are 135 unique countries in the survey:

Country                               Respondants
United States                                3173
India                                         911
United Kingdom                                841
Germany                                       715
Canada                                        442
France                                        339
Brazil                                        328
Australia                                     287
Netherlands                                   259
Spain                                         257
Russian Federation                            211
Poland                                        205
Italy                                         188
Sweden                                        162
Switzerland                                   151
Ukraine                                       111
South Africa                                  104
Israel                                        104
Mexico                                         98
Turkey                                         98
Romania                                        95
Pakistan                                       93
Belgium                                        89
Austria                                        89
Denmark                                        85
Norway                                         84
Iran                                           83
Bulgaria                                       77
New Zealand                                    76
Greece                                         76
Argentina                                      73
Czech Republic                                 72
Finland                                        72
Portugal                                       69
China                                          69
Ireland                                        67
Hungary                                        64
Bangladesh                                     58
Serbia                                         53
Japan                                          50
Colombia                                       50
Nigeria                                        44
Sri Lanka                                      43
Malaysia                                       42
Egypt                                          39
Philippines                                    36
Indonesia                                      36
Slovenia                                       35
Lithuania                                      35
Hong Kong (S.A.R.)                             34
Singapore                                      33
Croatia                                        31
Slovakia                                       28
Estonia                                        27
Belarus                                        24
Taiwan                                         23
Chile                                          21
Kenya                                          20
Latvia                                         19
Thailand                                       19
United Arab Emirates                           19
Other Country (Not Listed Above)               18
Dominican Republic                             16
Uruguay                                        16
Costa Rica                                     15
Nepal                                          15
South Korea                                    15
Guatemala                                      13
Peru                                           12
Armenia                                        12
Albania                                        12
Viet Nam                                       12
Lebanon                                        12
Saudi Arabia                                   12
Ecuador                                        11
Luxembourg                                     11
Republic of Moldova                            10
Bosnia and Herzegovina                         10
Tunisia                                         9
Georgia                                         9
El Salvador                                     8
Malta                                           8
Morocco                                         8
Venezuela, Bolivarian Republic of...            7
The former Yugoslav Republic of Macedonia       7
Jordan                                          7
Ghana                                           7
Cyprus                                          7
Paraguay                                        6
Uganda                                          6
Iceland                                         6
Azerbaijan                                      5
Zimbabwe                                        5
Côte d'Ivoire                                   5
Honduras                                        5
Cameroon                                        4
Ethiopia                                        4
Cuba                                            4
Kyrgyzstan                                      4
Bolivia                                         4
Syrian Arab Republic                            3
Bahrain                                         3
Swaziland                                       3
Myanmar                                         3
Nicaragua                                       3
Algeria                                         3
Sudan                                           2
Mongolia                                        2
Congo, Republic of the...                       2
Afghanistan                                     2
Kuwait                                          2
United Republic of Tanzania                     2
Senegal                                         2
Uzbekistan                                      2
Mauritius                                       2
Montenegro                                      2
Panama                                          2
Burundi                                         2
Libyan Arab Jamahiriya                          1
Mozambique                                      1
Cambodia                                        1
Togo                                            1
Timor-Leste                                     1
Jamaica                                         1
Yemen                                           1
Monaco                                          1
Republic of Korea                               1
Somalia                                         1
Turkmenistan                                    1
Qatar                                           1
Liechtenstein                                   1
Rwanda                                          1
Brunei Darussalam                               1
Cape Verde                                      1
Iraq                                            1
Name: Country, dtype: int64

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).